version: "3.7"

services:

    flask:
        build: .
        container_name: flask
        restart: always
        ports:
            - "5000:5000"
        links:
            - db
        volumes: 
            - ${EXA_SEC_HOME}:/home/exa_security
            - ${SMB_Path}:/secure/samba

    db:
        image: mongo:4.2.3
        expose:
            - 27017 
        volumes:
            - ${DB_DATA_PATH}:/data
    
    ui:
        build: ../Content-automation-ui/.
        container_name: ui
        restart: always
        ports:
            - "3000:3000"
        links:
            - flask



