version: "3.7"

services:

    flask:
        build: .
        container_name: flask
        restart: always
        ports:
            - "5000:5000"
        volumes:
            - /home/akshay/caworkspace/home:/home/user
            - /home/akshay/caworkspace/opt:/home/opt
        links:
            - db

    db:
        image: mongo:4.2.3
        expose:
            - 27017
        #volumes:
            #data_storage: ./data

#volumes:
 #   data_storage:
