version: "3.7"

services:

    flask:
        build: .
        container_name: flask
        restart: always
        ports:
            - "5000:5000"
        links:
            - db
    
    db:
        image: mongo:4.2.3
        expose:
            - 27017 
        volumes:
            - ${DB_DATA_PATH}:/data


